@import "../../../../node_modules/bootstrap/scss/bootstrap";
// @import "../../../../node_modules/bootstrap-vue/dist/bootstrap-vue";

$dark: #2d3136;
$success: #58ad52;
// $primary: #4b596c;
$gray-100: #f6f6f7;
// #6C757D
$secondary: yellow;
//
//Footer
$icon-color: #656566;
