.card-container {
  background-color: $gray-100;
  min-height: 100vh;
}

.card-block {
  margin-bottom: 1rem;
}

.card-group {
  justify-content: center;
}

.picture-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-items: center;
  grid-gap: 5px;
  grid-row-gap: 0px;
}
