.section-cardinput {
  background-color: $dark;
  min-height: 100vh;
}

.form-control {
  background-color: $dark;
}

.form-control:focus {
  background-color: $dark;
  border-color: $red;
  box-shadow: none;
  color: $white;
}

.logo-mail {
  margin: 0 auto;
  width: 170px;
  padding-top: 7.5rem;
  padding-bottom: 2rem;
}

.first_col_group {
  padding-bottom: 1rem;
}

.input__label--white {
  color: $white;
  font-weight: bold;
}

.input__label--white::after {
  content: "*";
  color: $red;
  padding-left: 0.5rem;
  font-size: 1.5rem;
  vertical-align: middle;
}

.fondo {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}

.input__textarea {
  background-color: $dark;
  height: calc(
    2.875rem + 2px + 1rem + 1rem + 1rem + 2.875rem + 2px + 0.75rem
  ) !important;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

@media screen and (max-width: 767.98px) {
  .logo-mail {
    padding-top: 5rem;
    padding-bottom: 1rem;
  }
}
