footer {
  background-color: $dark;
  display: flex;
  min-height: 70px;

  align-items: center;
  justify-content: space-around;
}

.hh-logo {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icons-wrapper {
  border-radius: 4px;
  background-color: $dark;
  padding: 10px;
  position: relative;
  width: 180px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin base__back-color($backColor, $borderColor) {
  background-color: $backColor;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $borderColor;

  display: flex;
  align-items: center;
  justify-content: center;
}

.back-color {
  @include base__back-color($dark, $icon-color);
  animation: lightOff 1s ease;
  animation-fill-mode: backwards;

  &:hover {
    animation: lightOn 1s ease;
    animation-fill-mode: forwards;
  }
  &--light {
    @include base__back-color($white, blue);
  }
}

.icon {
  color: $icon-color;
}

@keyframes lightOn {
  0% {
    background-color: $dark;
  }
  100% {
    background-color: $white;
  }
}
@keyframes lightOff {
  0% {
    background-color: $white;
  }
  100% {
    background-color: $dark;
  }
}
