<template>
  <div class="card-container pt-3">
    <b-container>
      <h1 class="text-center text-dark py-5">Выводим комментарии</h1>

      <b-card-group deck class="justify-content-center">

        <template v-for="(comment, index) in comments">
          <card :index="index"
            :header="comment.name"
            :email="comment.email"
            :comment="comment.comment">
          </card>
        </template>

      </b-card-group>
    </b-container>
  </div>
</template>

<script>
import Card from './Card.vue'
import { mapGetters } from 'vuex'
export default{
  data(){
    return{
    } 
  },
  components: {
    'card': Card
  },
  created(){
    this.getComments()
  },
  methods: {
    getComments(){
      this.$store.dispatch('getComments')
    }
  },
  computed: {
    ...mapGetters({
      comments: 'getComments'
    })
  }
}
</script>
