<template>
   <b-card
     :header="header"
     header-tag="header"
     header-text-variant="white"
     class="text-center my-2"
     :header-bg-variant="headerBg"

     :text-variant="textColor"
     :title="email">

     <p class="card-text text-secondary">{{comment}}</p>
   </b-card>
</template>

<script>
export default{
  props: ['index', 'header', 'email', 'comment'],
  computed: {
    headerBg(){
      return this.index % 2 === 0? 'secondary' : 'success'
    },
    textColor(){
      return this.index % 2 === 0? 'secondary' : 'success'
    }
  }
}
</script>
