<template>
  <div class="section-cardinput">
    <b-container>
      <div class="logo-mail">
        <b-img src="images/logo_mail.png" fluid alt=""/>
      </div>

      <b-row align-h="around" class="pb-3">
        <b-col md="4">
          <div class="first_col_group">
            <label class="input__label--white">Имя</label>
            <b-form-input type="text"
                          name="name"
                          size="lg"
                          :class="{'form-control':true,  'is-invalid': errors.has('name')}"
                          v-validate="'required|min:4|max:15'"
                          v-model="form.name"
                          required
                          :placeholder="placeholder.name">
            </b-form-input>
            <b-form-invalid-feedback :class="{'invalid-feedback': errors.has('name')}">
              {{ errors.first('name') }}
            </b-form-invalid-feedback>
          </div>

          <label class="input__label--white">E-Mail</label>
          <b-form-input type="email"
                        name="email"
                        size="lg"
                        :placeholder="placeholder.email"
                        :class="{'form-control':true, 'is-invalid': errors.has('email')}"
                        v-validate="'required|email'"
                        v-model="form.email"
                        required>
          </b-form-input>
          <b-form-invalid-feedback :class="{'invalid-feedback': errors.has('email')}">
            {{ errors.first('email') }}
          </b-form-invalid-feedback>
        </b-col>

        <b-col md="4">
          <div class="fondo">
            <label class="input__label--white">Комментарий</label>
            <b-form-textarea class="input__textarea" 
                             name="comment"
                             :placeholder="placeholder.comment"
                             :class="{'form-control':true,  'is-invalid': errors.has('comment')}"
                             v-validate="{required: true, regex:/^[A-Za-z\u0400-\u04FF\d ]*$/, min:4, max:255}"
                             v-model="form.comment">
            </b-form-textarea>
            <b-form-invalid-feedback :class="{'invalid-feedback': errors.has('comment')}">
              {{ errors.first('comment') }}
            </b-form-invalid-feedback>
          </div>

          <!-- <b-alert variant="success"  -->
          <!--   :show="dismissCountDown" -->
          <!--   dismissible>             -->
          <!--   Success Alert            -->
          <!-- </b-alert>                 -->

          <b-alert :show="dismissCountDown"
          dismissible
          variant="success"
          class="mt-3"
          @dismissed="dismissCountDown=0"
          @dismiss-count-down="countDownChanged">
          {{messageIfSuccessful}}
          </b-alert>

          <b-button @click.prevent="createComment" variant="danger" class="float-right mt-4">Записать</b-button>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { validator } from 'vee-validate'
import store from '../store.js'
export default {
  data () {
    return {
      form: {
        email: '',
        name: '',
        comment: '',
      },
      placeholder: {
      name:'Ваше имя',
      email:'me@example.com',
      comment: 'Ваш комментарий'
      },
      dismissSecs: 5,
      dismissCountDown: 0,
      messageIfSuccessful: 'Спасибо за Ваш комментарий!'
    }
  },
  methods: {
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    },

    createComment(){
    let formData = new FormData()

    formData.append('email', this.form.email)
    formData.append('name', this.form.name)
    formData.append('comment', this.form.comment)

    this.$store.dispatch('createComment', formData)
        .then(response => {
          this.form.comment = ''
          this.form.email = ''
          this.form.name = ''

          this.$nextTick(() => {
            this.$validator.reset()
          })

          this.showAlert()
        })
        .catch(error => {
          if(error.response){
            let data = error.response.data
            let errorFields = Object.keys(data.errors)

            errorFields.forEach((field) => {
              let msg = data.errors[field].join(', ')
              this.$validator.errors.add({
                field, 
                msg, 
                rule: 'serverError'
              })
            })
          }
        })
    }
  }
}
</script>
