<template>
  <footer class="footer">

    <div class="hh-logo">
      <b-link target="_blank" href="https://honey-hunters.ru/">
        <b-img src="images/logo_honey_hunters.png" fluid alt="Honey Hunters"/>
      </b-link>
    </div>

    <div class="icons-wrapper">
          <a class="back-color" target="_blank" href="https://vk.com/obslyzhivaniesaitov">
            <font-awesome-icon class="icon" 
                               size="lg" 
                               :icon="['fab', 'vk' ]">
            </font-awesome-icon>
          </a>
          <a class="back-color" target="_blank" href="https://www.facebook.com/honeyhuntersmanagement/">
            <font-awesome-icon class="icon" 
                               size="lg" 
                               :icon="['fab', 'facebook' ]">
            </font-awesome-icon>
          </a>
          <a class="back-color" target="_blank" href="https://www.youtube.com/channel/UCAlC8_NKNFytVM2oXZudcUQ">
            <font-awesome-icon class="icon" 
                               size="lg" 
                               :icon="['fab', 'youtube' ]">
            </font-awesome-icon>
          </a>
    </div>

  </footer>
</template>

<script>
export default {
}
</script>
