<template>
  <b-navbar fixed="top" class="section-navbar">
    <b-navbar-brand target="_blank" href="https://honey-hunters.ru/">
      <b-img  class="honey_hunters__logo" src="images/logo_honey_hunters.png" fluid alt="Honey Hunters"/>
    </b-navbar-brand>
  </b-navbar>
</template>

<script>
export default {};
</script>
