<template>
  <div id="app">
    <hh-navbar></hh-navbar>
    <card-input></card-input>
    <card-container></card-container>
    <hh-footer></hh-footer>
  </div>
</template>

<script>
import NavBar from './components/NavBar.vue'
import CardInput from './components/CardInput.vue'
import CardContainer from './components/CardContainer.vue'
import Footer from './components/Footer.vue'
export default {
  components:{
    'hh-navbar': NavBar,
    'card-input': CardInput,
    'card-container': CardContainer,
    'hh-footer': Footer,
  },
  data(){
    return {

    }
  }
}
</script>

<style lang="scss">
@import "./assets/scss/main.scss";
</style>
